<section>
  <div class="container col-md-10">
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <div class="card-block">
            <br>
            <h1 class="card-title">{{movie?.title}}</h1>
            <br>
            <div class="card-text">
              <div class="row">
                <div class="col-md-5 div-center">
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                </div>
                <div class="col-md-7">

                    <!-- used progress instead of div. Looks okayish. Binded value5 to value and maxValue! -->
                    <!-- MAYBE ADD ANIMATION LATER -->
                    <progress role="progressbar" [attr.value]="value5" [attr.max]="maxValue"><span>{{value5}}</span></progress>

                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-5 div-center">
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                </div>
                <div class="col-md-7">
                    <progress role="progressbar" [attr.value]="value4" [attr.max]="maxValue"></progress>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-5 div-center">
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                </div>
                <div class="col-md-7">
                    <progress role="progressbar" [attr.value]="value3" [attr.max]="maxValue"></progress>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-5 div-center">
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                </div>
                <div class="col-md-7">
                    <progress role="progressbar" [attr.value]="value2" [attr.max]="maxValue"></progress>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-5 div-center">
                  <td><i class="fa fa-star fa-2x" aria-hidden="true"></i></td>
                </div>
                <div class="col-md-7">
                    <progress role="progressbar" [attr.value]="value1" [attr.max]="maxValue"></progress>
                </div>
              </div>
              <br>
              <div class="row rating">
                <div class="col-md-5 div-center">
                  <h5 class="average">AVERAGE RATING:</h5>
                </div>
                <div class="col-md-7 div-start">
                  <h5 class="averageNumber">{{averageRating}} / {{maxValue}}.00</h5>
                </div>
              </div>
            </div>
            <br>
            <div class="card-text">
              <div class="row justify-content-center">
                <div class="col-md-5 col-6 div-center">

                  <!-- routes to /movies after button click -->
                  <button [routerLink]="['/movies']" type="button" class="btn btn-secondary ">Return</button>

              
                </div>
                <br>
                <div class="col-md-7 col-6 div-start">

                  <!-- making a ngForm for rating system. 
                  Using ngSubmit that is passing fron ngModel one way binding in input and takes #ratingForm.value - WRONG!!!
                  
                  (ngModel) is giving param "rating" in and passes it to #ratingForm!
                  Using ngSumbit to call method in movie-detail.component where ratingForm.value == formValues - GOOD !!!
                  -->
                  <form #ratingForm="ngForm" (ngSubmit)="getRating(ratingForm.value)">
                    <div class="row">
                      <div class="col-md-8 div-center">
                        <button type="submit" class="btn btn-secondary">Add Your vote!</button>
                      </div>
                      <div class="col-md-4">
                        <!-- ngModel should have name with same "rating" but only for validation purposes, i don't really need that this time' -->
                        <input (ngModel)="rating" name="rating" id="rating" type="number" class="form-control" placeholder="1 - 5" min="1" max="5"
                        />
                      </div>
                    </div>
                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img class="card-img-bottom" src="{{movie?.poster}}" alt="Card image cap">
        </div>
      </div>
    </div>
  </div>
</section>