<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-10">

      <form id="searchForm" (ngSubmit)="searchMovies(searchTerm)" class="navbar-form">
        <div class="input-group">

          <input [(ngModel)]="searchTerm" name="searchTerm"  type="text" class="form-control" placeholder="Movie title..">
          <button class="btn btn-secondary">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-1 col-2">
      <div class="input-group">
        <i class="fa fa-sort-alpha-asc fa-lg" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<br>